.header {
    background: #845EC2;
    width: 100vw;
    height: 45px;
    padding: 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .action {
      display: flex;
      gap:10px;
      align-items: center;
  }

  .home{
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    
  }